    <script src="/pythonxpress/app/static/js/jquery-1.9.1.js"></script>
    <script src="/pythonxpress/app/static/js/jquery.tokeninput.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css">
    <link href="/pythonxpress/app/static/css/cupertino/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link href="/pythonxpress/app/static/css/cupertino/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="/pythonxpress/app/static/css/mystyle.css" rel="stylesheet">
    <script src="/pythonxpress/app/static/js/chosen.jquery.js"></script>
    <script src="/pythonxpress/app/static/js/chosen.jquery.min.js"></script>
    <link href="/pythonxpress/app/static/css/chosen.css" rel="stylesheet">
    <link href="/pythonxpress/app/static/css/chosen.min.css" rel="stylesheet">
	